@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
	margin: 0PX;
	padding: 0PX;
}
.fondo {
    background-color: #ffffd5;
}
header{
    background-color: #f1f124;
}
.logo img{
    height: 100px;
    
}

.btn{
    background-color: #ffffd5;
}
.nav-link{
    font-weight: bold;
}


#saludo{
    height: 480px;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    background-image:url(../Images/fondobienvenida.jpg) ;
    background-size: cover;
    background-repeat: repeat;

}

#saludo .fondo p{  
    color:#000000;
}   
.notaPrincipal{
    background-color: #ffffd5;
    display: flex;
    flex-direction: column;
    
}
.encabezado{
    font-size: 40px;
    color:#000000;
    border: #ffff55 solid 5px;
    text-align: center;
    margin:10px 0px 10px 0px;
}


.titulo{
    font-size: 36px;
    color:#fccf3a;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color:#fccf3a;
    margin-bottom: 10px;
}
.titulo a{
    text-decoration-line: underline;
    text-decoration-color:#fccf3a;
    text-decoration-color: #fccf3a;
    color: #fccf3a;
    display: block;
}
.principal {
    color:#000000;
}
.reseña{
    color:#000000;
    text-align: justify;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin:0px 50px 10px 50px;
}
.pie{
    display: flex;

    align-items: center;
    
}
footer a{
    text-decoration: none;
    color: #000000;
}
footer li{
    list-style: none;
}
footer .pie{
    font-weight: bold;
}


.pie_contacto{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.notaPrincipal iframe{
    width: 100%;
    height: 280px;
}
.carousel-inner img{
    max-height: 432px;
}

@media screen and (min-width: 480px){
    #saludo{
        background-size: contain;
    }
    .notaPrincipal iframe{
        width: 53rem;
        height: 30rem;
        
    }
}


/* 

#carouselExampleCaptions{
    height: 5fr;
    flex-wrap: nowrap;
    background-color: #ffff55;
}
.carrusel img:active{
    transform: scale(2,2);
    z-index: 2;
    padding: 10px;
    border: #000000 solid 3px;
    border-radius: 20%;
    background-color: #ffffd5;
    margin:10%;
}

.carrusel figure{
    border:#0a0a0a solid;
    margin:10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0%;

}

footer{
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 70px 1fr;
    align-items: center;
    text-align: center;
}
.pie{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.pie_contacto{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
footer a{
    text-decoration: none;
    color: #000000;
}
footer li{
    list-style: none;
}
footer .pie{
    font-weight: bold;
}
footer .pie_contacto ul{
    top:10px;
   
}
.pie_contacto li{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

footer .pie_redes{
    font-weight: bold;
    top: 0px;
    margin: 0px;
}
footer .pie_redes li{
    padding: 0px;
    margin:0px;
}

.estrenos{
    display:grid;
    grid-template-areas:
    "header"
    "saludo"
    "estrenomes"
    "articulo1"
    "articulo2"
    "footer";
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto 1fr;
}
#estreno_mes{
    grid-area: estrenomes;
    border:#000000 solid;
    padding:5px;
    margin: 10px;
}
.articulo1{
    grid-area: articulo1;
}
.articulo2{
    grid-area: articulo2;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: auto;
    margin: 10px;
    border:#000000 solid;
    padding:5px;}
#estreno_mes .reseña{
    margin-left: 5%;
    margin-right: 5%;
}
#estrenos{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.galeria{
    display:flex;
    flex-direction: column;
    row-gap: 5px;
}
.galeria img{
    height: 100%;
    width: 100%;
    margin:0px;
    padding: 0px;
}
.galeria img:hover{
    transform: scale(1.5,1.5);
}

img{
    max-width: 30%;
    max-height: 300px;
    margin:10px;
    
}
.banda{
    margin:10px 10% 10px 10%;
    width:80%;
    height: 380px;
    border:0px;
}


.formulario{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
    
}
legend{
    text-align: center;
    color:#000000;
    font-size: 40px;
}
.id{
    margin:20px;
}
.correo{
    margin: 20px;
}
.msj{
    display:flex;
    flex-direction:column;
    
}
.msj textarea{
    height: 250px;

}
.boton{
    margin:20px 0px 20px 0px;

}
.boton input{
    height: 50px;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
}
.direccion{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 20px;
    text-align: center;
}
.contenedor{
    display:flex;
    justify-content:center;
    
}
.check{
    margin:20px 0px 20px 0px;
    padding: 5px;
}
#newsletter .reseña{
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
.fondo{
    background-color: #ffffd5;
}




@media screen and (min-width: 481px){
    #saludo{
        font-size: 50px;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    .barra_menu ul{
        flex-direction: row;
    }
    #saludo{
        background-repeat:repeat;
        background-size: contain;
    }
    .trailer{
        min-width: 380px;
        min-height: 250px
        }
    .carrusel{
      
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .carrusel figure{
  
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        border:none;
    }
    .galeria{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 5px;
        row-gap: 5px;
        align-items: center;
    }
    .galeria img{
        height: 100%;
        margin:0px;
        padding: 0px;
    }
    .galeria img:hover{
        transform: scale(1.5,1.5);
    }
    footer{
        display: flex;
        justify-content: space-around;
    }
    .pie_redes ul{
        display: flex;
        justify-content: space-around;
    }
    .msj textarea{
        width: 480px;
    }

}


@media screen and (min-width: 1200px){
    #saludo{
        font-size: 70px;
    }
    .trailer{
    width:801px;
    height: 450px;
    margin-left:20%;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: 46.3%;
        height: auto;
        margin: 10px;
        border:#000000 solid;
        padding:5px;
    }
    article .trailer{
        justify-content: center;
        width:80%;
        height: 250px;
        margin-left:10%;
    }
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .galeria img:hover{
        transform: scale(2,2);
        z-index: 2;
    }
    footer{
        z-index: 1;
    }
    .msj textarea{
        width: 1080px;
    }
    .direccion{
        flex-direction: row;
    }
    .direccion iframe{
        width: 60%;
    }
}
     */