header{
    background-color: #f1f124;
    .logo {
        img{
            height: 100px;
        }
    }
    
    .btn{
        background-color: #ffffd5;
    }
    .nav-link{
        font-weight: bold;
    }
    .barra_menu 
        ul{
        
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            li{
                margin: 5px;
                padding: 10px;
                border:#000000 solid;
                border-radius: 10px;
                padding: 10px;
                background-color: #ffffd5;
                text-align: center;
                &hover{
                    background-color: #f10303;
                }
                a{
                    text-decoration: none;
                    color: #000000;
                    &hover{
                        font-size: 25px;
                        font-weight: bold;
                    }
                }
            }
        }
    }