@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.galeria img:hover, header .logo img:hover {
  transition: all 1s;
  transform: scale(1.5, 1.5);
  padding: 0px;
}

header {
  background-color: #fccf3a;
}
header .logo img {
  height: 100px;
}
header .logo img:hover {
  transform: scale(1.2, 1.2);
}
header .navbar .navbar-toggler {
  background-color: #ffffd5;
}
header .navbar .btn {
  background-color: #ffffd5;
  transition: all 1s;
}
header .navbar .btn:hover {
  background-color: #f10303;
  transform: scale(1.2, 1.2);
}
header .navbar .nav-link {
  font-weight: bold;
}

* {
  margin: 0PX;
  padding: 0PX;
}

.fondo {
  background-color: #ffffd5;
}

#saludo {
  height: 280px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-image: url(../Images/fondobienvenida.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#saludo .parallax {
  margin-bottom: 5px;
}
#saludo .parallax p {
  color: #000000;
  transform: translateY(50px);
}

.principal {
  color: #000000;
}
.principal .notaPrincipal {
  background-color: #ffffd5;
  display: flex;
  flex-direction: column;
}
.principal .notaPrincipalEstreno .reseña {
  color: #000000;
  text-align: justify;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin: 0px 50px 10px 50px;
}

.titulo {
  font-size: 36px;
  color: #fccf3a;
  background-color: #ffffff;
  border: #fccf3a solid;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.titulo a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #fccf3a;
          text-decoration-color: #fccf3a;
  color: #fccf3a;
  display: block;
}

.encabezado {
  font-size: 40px;
  border: #fccf3a solid 5px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.carousel-inner img {
  max-height: 432px;
}

@media screen and (min-width: 480px) {
  #saludo {
    height: 480px;
  }
  #saludo .parallax {
    background-image: url(../Images/fondobienvenida.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #ffffd5;
}
footer .pie {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
footer .pie_contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer .pie_contacto ul {
  top: 10px;
}
footer .pie_contacto li {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
footer .pie_redes ul {
  display: flex;
  justify-content: space-evenly;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer li {
  list-style: none;
}
footer .pie_redes {
  font-weight: bold;
  top: 0px;
  margin: 0px;
}
footer .pie_redes li {
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 481px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .pie_redes ul {
    display: flex;
    justify-content: space-around;
  }
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .video {
    padding-bottom: 460px;
    margin: 0px 20% 0 20%;
  }
}
#estreno_mes {
  border: #000000 solid;
  padding: 5px;
  margin: 10px;
}

#estrenos {
  margin-top: 5px;
}
#estrenos .notaSecundaria {
  border: #000000 solid;
  padding: 5px;
}

@media screen and (min-width: 961px) {
  #estrenos {
    display: flex;
  }
  #estrenos .notaSecundaria {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  #estrenos .notaSecundaria .video {
    width: 100%;
    margin: 0px;
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  text-align: center;
}
.formulario legend {
  text-align: center;
  color: #000000;
  font-size: 40px;
}
.formulario .boton {
  margin: 20px 0px 20px 0px;
}
.formulario .boton input {
  height: 50px;
  width: 130px;
  font-size: 18px;
  font-weight: bold;
}

#newsletter {
  text-align: center;
}

.direccion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor .check {
  margin: 20px 0px 20px 0px;
  padding: 5px;
}

@media screen and (min-width: 480px) {
  .msj textarea {
    width: 480px;
  }
}
@media screen and (min-width: 1000px) {
  .direccion {
    flex-direction: row;
  }
  .direccion iframe {
    width: 60%;
  }
}
.galeria img:hover {
  height: 100%;
}/*# sourceMappingURL=style.css.map */