footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #ffffd5;
    .pie{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    .pie_contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        ul{
            top:10px;
        }
        li{
            font-size: 20px;
            font-weight: bold;
            text-decoration: underline;
            text-align: center;
        }
    }
    .pie_redes{
        ul{
            display: flex;
            
            justify-content: space-evenly;
        }
    }
    a{
        text-decoration: none;
        color: #000000;
    }
    li{
        list-style: none;
    }
    .pie_redes{
        font-weight: bold;
        top: 0px;
        margin: 0px;
        li{
            padding: 0px;
            margin:0px;
        }
    }
}
@media screen and (min-width: 481px){
    footer{
        flex-direction: row;
        justify-content: space-around;
    }
    .pie_redes ul{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1200px){
    footer{
        z-index: 1;
    }
}