header{
    background-color: #f1f124;
    .logo {
        img{
            height: 100px;
        }
    }
    .navbar{
        .navbar-toggler{
            background-color: #ffffd5;
        }
        .btn{
            background-color: #ffffd5;
            transition: all 1s;
            &:hover{
                background-color: #f10303;
                transform: scale(1.2,1.2);
        }
        }
        .nav-link{
            font-weight: bold;
            
        }
    }
}
