header{
    background-color: $yellowhard;
    .logo {
        img{
            height: 100px;
            &:hover{
                transform: scale($grow1,$grow1);
            }
        }
    }
    .navbar{
        .navbar-toggler{
            background-color: $backgroudsoft;
        }
        .btn{
            background-color:$backgroudsoft;
            transition: all 1s;
            &:hover{
                background-color: #f10303;
                transform: scale($grow1,$grow1);
        }
        }
        .nav-link{
            font-weight: bold;
        }
    }
}
