@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
	margin: 0PX;
	padding: 0PX;
}
.fondo{
    background-color: #ffffd5;
}


#saludo{
    height: 280px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-image:url(../Images/fondobienvenida.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .parallax{
        margin-bottom: 5px;
            p{
                color:#000000;
                transform:translateY(50px);
            }
        }
}


.principal {
    color:#000000;
    .notaPrincipal{
        background-color: #ffffd5;
        display: flex;
        flex-direction: column;
    }
    .notaPrincipalEstreno{
        .reseña{
            color:#000000;
            text-align: justify;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            margin:0px 50px 10px 50px;
        }
    }
}
.titulo{
    font-size: 36px;
    color:#fccf3a;
    background-color: #ffffff;
    border:#fccf3a solid;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    a{
        text-decoration-line: underline;
        text-decoration-color:#fccf3a;
        color: #fccf3a;
        display: block;
    }
}
.encabezado{
    font-size: 40px;
    border: #ffff55 solid 5px;
    border-radius: 10px;
    text-align:center;
    margin:10px 0px 10px 0px;
}
.carousel-inner img{
    max-height: 432px;
}

@media screen and (min-width: 480px){
    #saludo{
        height: 480px;
        .parallax{
            background-image:url(../Images/fondobienvenida.jpg) ;
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    
}


